body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.metaData:nth-child(odd) {
	background: rgb(234 234 234);
	padding: 5px;
}
.metaData:nth-child(even) {
	padding: 5px;
}
.meta-width {
	width: 200px;
	display: inline-block;
}
